a {
    color: #065699;
}

    a:hover, a:focus {
        color: #0872ca;
    }

.btn-default {
    background-color: #3c3c3c;
}
.contact-item {
  width: 100%;
  float: left;
}
    .btn-default:hover, .btn-default:active, .btn-default:focus {
        background-color: #444;
    }

.btn-primary, .btn-primary[disabled], .btn-primary.disabled {
    background-color: #065699;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary.disabled:hover, .btn-primary.disabled:active, .btn-primary.disabled:focus {
        background-color: #075ea8;
        color: #fff;
    }

.navbar-default {
    background-color: #065699;
}

    .navbar-default .navbar-nav li a:hover {
        color: #fff;
        background-color: #0872ca;
    }

    .navbar-default .navbar-nav li.active a {
        background-color: #0872ca;
    }

        .navbar-default .navbar-nav li.active a:hover, .navbar-default .navbar-nav li.active a:focus {
            color: #fff;
            background-color: #0872ca;
        }

.section .heading {
    color: #065699;
}

.glyphicon, i {
    color: #0872ca;
}

.skills {
    background-color: #FFF;
}

.about-me {
    background-color: #fff;
}

.resume {
    background: #fff;
}

.contacts {
    background: #fff;
}

.skill-chart .chart-title {
    color: #757575;
}

.pie-chart .percent {
    color: #757575;
}

.timeline {
    background-image: url('~/../../Image/vertical-line-blue.png');
}

    .timeline .year {
        background: #065699;
        color: #fff;
    }

    .timeline .month {
        color: #a9a9a9;
    }

    .timeline .event {
        background: #fff;
        border-color: #a9a9a9;
    }

        .timeline .event:hover {
            background: #fff;
        }

            .timeline .event:hover:after {
                background: #3c3c3c;
            }

        .timeline .event:after {
            background: #065699;
            border-color: #fff;
        }

    .timeline .heading {
        color: #3c3c3c;
    }

@media screen and (min-width: 992px) {
    .project-effect-shrink figure .project-item-info a {
        color: #a2a2a2;
    }
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    background-color: #efefef;
    border: 1px solid #ddd;
    color: gray;
}

    .contact-form input[type="text"]::-webkit-input-placeholder, .contact-form input[type="email"]::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
        color: #c3c3c3;
    }

    .contact-form input[type="text"]:-moz-placeholder, .contact-form input[type="email"]:-moz-placeholder, .contact-form textarea:-moz-placeholder {
        color: #c3c3c3;
    }

    .contact-form input[type="text"]::-moz-placeholder, .contact-form input[type="email"]::-moz-placeholder, .contact-form textarea::-moz-placeholder {
        color: #c3c3c3;
    }

    .contact-form input[type="text"]:-ms-input-placeholder, .contact-form input[type="email"]:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
        color: #c3c3c3;
    }

    .contact-form input[type="text"]:focus, .contact-form input[type="email"]:focus, .contact-form textarea:focus {
        border: 1px solid #aaa !important;
    }

.footer {
    background-color: #444;
    color: #fff;
}
